@import url("themes.css");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-primary);
  font-family: var(--font-family);
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 196px;
  background-color: var(--bg-card);
  padding: 24px;
}

.sidebar .logo img {
  width: 130px;
}

.sidebar .navigation ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar .navigation ul li {
  padding: 10px 0px;
}

.sidebar .navigation ul li a {
  color: var(--text-secondary);
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
  color: var(--text-primary);
}

.sidebar .navigation ul li .bi {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar .navigation ul li a:hover .bi:hover,
.sidebar .navigation ul li a:hover .bi:active,
.sidebar .navigation ul li a:hover .bi:focus {
  color: var(--text-primary);
}

.sidebar .policies {
  position: absolute;
  bottom: 100px;
}

.sidebar .policies ul {
  list-style: none;
}

.sidebar .policies ul li {
  padding-bottom: 5px;
}

.sidebar .policies ul li a {
  color: var(--text-secondary);
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
  text-decoration: underline;
}

.main-container {
  margin-left: 245px;
  margin-bottom: 100px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-tertiary);
  padding: 14px 30px;
}

.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: var(--topbar-bg-color);
  margin-right: 10px;
}

.topbar #pagination {
  cursor: default;
  color: var(--bg-button);
  width: auto;
  min-width: 34px;
  padding: 0 5px;
  border-radius: 15px;
  border: 1px solid var(--page-buttons-border);
}

.topbar .navbar {
  display: flex;
  align-items: center;
}

.topbar .navbar ul {
  list-style: none;
}

.topbar .navbar ul li {
  display: inline-block;
  margin: 0px 8px;
  width: 70px;
}

.topbar .navbar ul li a {
  color: var(--text-secondary);
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
}

.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus {
  /* color: var(--text-primary); */
  font-size: 15px;
}

.topbar .navbar ul li.divider {
  color: var(--text-primary);
  font-size: 26px;
  margin: 0px 20px;
  width: auto;
}

.topbar .navbar button {
  background-color: var(--bg-button);
  color: var(--text-button);
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.topbar .navbar button:hover,
.topbar .navbar button:active,
.topbar .navbar button:focus {
  background-color: var(--bg-button-hover);
}

.next-btn,
.prev-btn {
  border: 1px solid var(--page-buttons-border) !important;
  color: var(--page-buttons-border) !important;
}

/* .topbar button:hover {
  border: 2px solid var(--bg-button);
} */

.playlists {
  padding: 20px 40px;
}

.playlists h2 {
  color: var(--text-total-matches);
  font-size: 22px;
  margin-bottom: 20px;
}

.playlists .list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
  padding-top: 15px;
}

.playlists .list .item {
  min-width: 140px;
  width: 160px;
  padding: 15px;
  background-color: var(--bg-card);
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}

.playlists .list .item:hover {
  background-color: var(--bg-hover);
  color: var(--bg-primary);
}

.playlists .list .item:hover h4 {
  color: var(--bg-primary);
}

.playlists .list .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.search-text {
  color: var(--text-search);
}

.playlists .list .item .play {
  position: relative;
}

.playlists .list .item .play .bi {
  position: absolute;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color: var(--bg-play);
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}

.playlists .list .item:hover .play .bi {
  opacity: 1;
  transform: translateY(-20px);
}

.playlists .list .item h4 {
  color: var(--text-primary);
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlists .list .item p {
  color: var(--text-muted);
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}

.playlists hr {
  margin: 70px 0px 0px;
  border-color: var(--text-divider);
}

.preview {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg-gradient);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  max-height: 620px;
  min-height: 108px;

  box-shadow: 0px -3px 30px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.preview h6,
.preview p {
  color: var(--text-primary);
}

.preview h6 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

.preview p {
  font-size: 14px;
  font-weight: 500;
}

.preview .text {
  width: 100%;
}

.preview audio {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.preview button {
  background-color: var(--bg-button);
  color: var(--text-button);
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
}

.editor {
  width: 100%;
  height: 500px;
  border: 1px solid var(--editor-border);
}

.editor-container {
  display: flex;
  width: 100%;
  gap: 10px; /* optional space between */
}

.resize-handle {
  height: 6px;
  cursor: ns-resize;
  background: var(--resize-bg);
  margin: -15px -40px 10px; /* compensate for .preview padding */
  position: relative;
  z-index: 2;
  width: 100%;
  position: fixed;
}

.dot-grid {
  display: flex;
  flex-direction: column;
  gap: 4px; /* vertical space between rows */
  transform: translateY(-11px) translateX(-32px);
  background-color: var(--dot-bg); /* background around the grid */
  padding: 4px 0px; /* spacing around the dots */
  border-radius: 4px; /* optional: rounded corners */
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.dot-row {
  display: flex;
  gap: 4px; /* horizontal space between dots */
  justify-content: center;
}

.dot-row div {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--dot-row-bg);
  border: solid var(--bg-dot-grid) 1px;
}

.carousel-container {
  /*width: 200px;  /* Adjust as needed */
  height: 30px; /* Adjust height for visibility */
  overflow: hidden;
  position: relative;
}

.hover-carousel {
  display: inline-block;
  white-space: nowrap;
  padding-left: 0; /* No padding, text starts from the left */
  transition: transform 1s ease; /* Transition when hover starts */
  position: relative;
}

.item:hover .hover-carousel {
  animation: carousel 5s linear infinite; /* Animate on hover */
}

@keyframes carousel {
  0% {
    transform: translateX(50%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* End off-screen to the left */
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* Style the tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--tooltip-bg);
  font-weight: bold;
  color: var(--tooltip-color);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 130px; /* Position the tooltip above the text */
  left: 15px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when hovering */
.item:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#preview-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.playlists #playlist-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--text-total-matches);
  padding-bottom: 5px;
  border-radius: 10px;
  border: 2px solid var(--text-total-matches);
  color: var(--text-total-matches);
  text-align: center;
  background-color: rgba(var(--text-total-matches-rgb), 0.2);
}

.playlists #playlist-info h2 {
  margin: 0 15px;
  text-align: center;
}

#playlist-total {
  margin: 0;
  padding: 10px;
  color: var(--text-total-matches);
  width: fit-content;
}

#verifyAudio {
  padding: 3px 10px;
  margin: 0;
  margin-bottom: 5px;
  font-size: 13px;
}

.bg-search-tag {
  background: var(--bg-button);
}

#tag-input-wrapper span {
  color: var(--bg-primary);
  background-color: var(--bg-button);
}

#logo-img {
  border-radius: 25px 5px 5px 25px;
}

#waveCanvas {
  width: 100%;
  padding-right: 24px;
  padding-bottom: 24px;
}
