:root {
  --font-family: "Montserrat", sans-serif;
}

/* DARK THEME (default) */
[data-theme="dark"] {
  --bg-primary: #121212;
  --bg-secondary: #000000;
  --bg-tertiary: #101010;
  --bg-card: #181818;
  --bg-hover: #636363;
  --bg-button: #ffffff;
  --bg-button-hover: #f2f2f2;
  --bg-play: #50cff5;
  --bg-gradient: linear-gradient(to right, #252525, var(--bg-play));

  --text-primary: #ffffff;
  --text-secondary: #b3b3b3;
  --text-muted: #989898;
  --text-divider: #636363;
  --text-button: #000000;

  --bg-dot-grid: #5f5f5f;
  --topbar-bg-color: #090909;
  --editor-border: #ccc;
  --resize-bg: rgba(255, 255, 255, 0.2);
  --dot-bg: #ddd;
  --dot-row-bg: #b3b3b3;
  --tooltip-bg: #fff;
  --tooltip-color: #000;
}

/* LIGHT THEME */
[data-theme="light"] {
  /* Background colors */
  --bg-primary: #f5f7fa;
  --bg-secondary: #4db8ff;
  --bg-tertiary: #f0f3f5;
  --bg-card: #a9cdec;
  --bg-hover: #4db8ff;
  --bg-button: #1a1a1a;
  --bg-button-hover: #333333;
  --bg-play: #4db8ff;
  --bg-gradient: linear-gradient(to right, #e4ebf1, var(--bg-play));

  /* Text colors */
  --text-primary: #1c1c1c;
  --text-secondary: #4a4a4a;
  --text-muted: #6d7d6c;
  --text-divider: #dcdcdc;
  --text-button: #ffffff;

  /* Accent and UI colors */
  --bg-dot-grid: #d3d3d3;
  --topbar-bg-color: #f8f9fa;
  --editor-border: #ced4da;
  --resize-bg: rgba(0, 0, 0, 0.1);
  --dot-bg: #d6d6d6;
  --dot-row-bg: #575757;
  --tooltip-bg: #3399ff;
  --tooltip-color: #ffffff;
}
