:root {
  --font-family: "Montserrat", sans-serif;
}

/* DARK THEME (default) */
[data-theme="dark"] {
  --color-1: #0f172a;
  --color-2: #1e293b;
  --color-3: #f1f5f9;
  --color-4: #94a3b8;
  --color-5: #38bdf8;
  --color-6: #0ea5e9;

  /* Background colors */
  --bg-primary: var(--color-1);
  --bg-secondary: var(--color-1);
  --bg-tertiary: var(--color-1);
  --bg-card: var(--color-2);
  --bg-hover: var(--color-4);
  --bg-button: var(--color-3);
  --bg-button-hover: var(--color-3);
  --bg-play: var(--color-5);
  --bg-gradient: linear-gradient(to right, var(--color-2), var(--bg-play));

  /* Text colors */
  --text-primary: var(--color-3);
  --text-secondary: var(--color-4);
  --text-muted: var(--color-4);
  --text-divider: var(--color-4);
  --text-button: var(--color-1);
  --text-total-matches: var(--color-3);
  --search-text: var(--color-3);

  /* Accent and UI colors */
  --bg-dot-grid: var(--color-4);
  --topbar-bg-color: var(--color-1);
  --editor-border: var(--color-4);
  --resize-bg: rgba(255, 255, 255, 0.2);
  --dot-bg: var(--color-3);
  --dot-row-bg: var(--color-4);
  --tooltip-bg: var(--color-3);
  --tooltip-color: var(--color-1);
}

/* LIGHT THEME */
[data-theme="light"] {
  --color-1: #f1f5f9;
  --color-2: #94a3b8;
  --color-3: #0f172a;
  --color-4: #1e293b;
  --color-5: #38bdf8;
  --color-6: #0ea5e9;

  /* Background colors */
  --bg-primary: var(--color-1);
  --bg-secondary: var(--color-1);
  --bg-tertiary: var(--color-1);
  --bg-card: var(--color-2);
  --bg-hover: var(--color-4);
  --bg-button: var(--color-4);
  --bg-button-hover: var(--color-4);
  --bg-play: var(--color-5);
  --bg-gradient: linear-gradient(to right, var(--color-2), var(--bg-play));

  /* Text colors */
  --text-primary: var(--color-4);
  --text-secondary: var(--color-4);
  --text-muted: var(--color-4);
  --text-divider: var(--color-4);
  --text-button: var(--color-1);
  --text-total-matches: var(--color-3);
  --search-text: var(--color-3);

  /* Accent and UI colors */
  --bg-dot-grid: var(--color-4);
  --topbar-bg-color: var(--color-1);
  --editor-border: var(--color-4);
  --resize-bg: rgba(255, 255, 255, 0.2);
  --dot-bg: rgba(30, 41, 59, 0.5);
  --dot-row-bg: var(--color-1);
  --tooltip-bg: var(--color-6);
  --tooltip-color: var(--color-1);
}
