<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Audio Library</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/static/css/music_player.css" />
    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@latest/min/vs/loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/requirejs@2.3.6/require.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script type="module" src="/static/js/app.js"></script>
  </head>

  <body>
    <div class="sidebar">
      <div class="logo">
        <a href="#">
          <img id="logo-img" src="/static/image/logo.png" alt="Logo" />
        </a>
      </div>

      <div class="navigation">
        <ul>
          <li id="unverified-btn">
            <a href="#">
              <span class="bi bi-house"></span>
              <span>Home</span>
            </a>
          </li>

          <li id="verified-btn">
            <a href="#">
              <span class="bi bi-check-circle-fill"></span>
              <span>Verified</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="policies">
        <ul>
          <li>
            <canvas id="waveCanvas"></canvas>
          </li>
        </ul>
      </div>

      <div class="policies">
        <ul>
          <li>
            <a href="#">Made By Ori Tsemach</a>
          </li>
          <li></li>
        </ul>
      </div>
    </div>

    <div class="main-container">
      <div class="topbar">
        <div class="prev-next-buttons">
          <button type="button" class="bi bi-chevron-left prev-btn"></button>
          <button type="button" class="bi bi-chevron-right next-btn"></button>
          <button id="pagination">{{ page }}</button>
        </div>

        <div class="navbar">
          <button id="theme-btn" type="button">
            <i class="bi bi-sun"></i>
          </button>
        </div>
      </div>

      <div class="w-full max-w-xl mx-auto mt-10">
        <div
          id="tag-input-wrapper"
          class="flex flex-wrap items-center gap-2 px-3 py-2 border border-gray-300 rounded-full shadow-sm focus-within:ring-2 focus-within:ring-blue-400"
        >
          <!-- Tags will be injected here -->
          <input
            id="tag-input"
            type="text"
            placeholder="Type and press +"
            class="flex-grow border-none outline-none bg-transparent search-text placeholder-gray-400 text-sm min-w-[100px]"
          />
          <button id="remove-all-tags-btn"
            
            class="text-white bg-blue-500 hover:bg-blue-600 rounded-full px-3 py-1 text-sm font-semibold"
          >
            x
          </button>
          <button id="add-tag-btn"
            class="text-blue-500 bg-white hover:bg-blue-300 rounded-full px-3 py-1 text-sm font-semibold"
          >
            <i class="bi bi-search search-btn" aria-hidden="true"></i>
          </button>
        </div>
      </div>

      <div class="playlists">
        <div id="playlist-info">
          <h2 id="playlist-title">Pending for verification:</h2>
          <h6 id="playlist-total">total matches: 0</h6>
        </div>

        <div class="list" id="audio-list"></div>
      </div>
    </div>

    <div id="pagination" data-page="1" data-max-page="1"></div>

    <div class="preview">
      <!-- Draggable bar -->
      <div class="resize-handle">
        <div class="dot-grid">
          <div class="dot-row">
            <div></div>
            <div></div>
            <div></div>
          </div>
          <div class="dot-row">
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>

      <div class="text">
        <div id="preview-header-container">
          <h6>Playing:</h6>
          <button id="verifyAudio">Verify</button>
        </div>
        <audio id="audio_id" controls>
          <source id="src_id" src="/api/audio/#" type="audio/mpeg" />
          Your browser does not support the audio element.
        </audio>
        <div class="editor-container">
          <div id="editor"></div>
        </div>
      </div>
    </div>
  </body>
</html>
